d.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/d.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/d.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
 xmlns:d="http://tempuri.org/d.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/d.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
  xmlns:d="http://tempuri.org/d.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="EndpointReferenceType">
   <sequence>
     <element ref="wsa:Address" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ProbeMatchType">
   <sequence>
     <element ref="wsa:EndpointReference" minOccurs="0" maxOccurs="1"/>
     <element ref="d:Types" minOccurs="0" maxOccurs="1"/>
     <element ref="d:Scopes" minOccurs="0" maxOccurs="1"/>
     <element ref="d:XAddrs" minOccurs="0" maxOccurs="1"/>
     <element ref="d:MetadataVersion" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <element name="Types" type="xsd:string"/>
  <element name="Scopes" type="xsd:string"/>
  <element name="XAddrs" type="xsd:string"/>
  <element name="MetadataVersion" type="xsd:unsignedInt"/>
  <element name="ProbeMatch" type="d:ProbeMatchType"/>
  <!-- operation request element -->
  <element name="Probe">
   <complexType>
    <sequence>
     <element ref="d:Types" minOccurs="0" maxOccurs="1"/>
     <element ref="d:Scopes" minOccurs="0" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ProbeMatches">
   <complexType>
    <sequence>
     <element ref="d:ProbeMatch" minOccurs="0" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="Probe">
 <part name="parameters" element="d:Probe"/>
</message>

<message name="ProbeMatches">
 <part name="parameters" element="d:ProbeMatches"/>
</message>

<message name="ServiceHeader">
 <part name="MessageID" element="wsa:MessageID"/>
 <part name="RelatesTo" element="wsa:RelatesTo"/>
 <part name="From" element="wsa:From"/>
 <part name="ReplyTo" element="wsa:ReplyTo"/>
 <part name="FaultTo" element="wsa:FaultTo"/>
 <part name="To" element="wsa:To"/>
 <part name="Action" element="wsa:Action"/>
</message>

<portType name="ServicePortType">
 <operation name="Probe">
  <documentation>Service definition of function d__Probe</documentation>
  <input message="tns:Probe"/>
 </operation>
 <operation name="ProbeMatches">
  <documentation>Service definition of function d__ProbeMatches</documentation>
  <input message="tns:ProbeMatches"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="Probe">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="ProbeMatches">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.1 generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
